* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
#search input {
  padding: 5px;
  margin-bottom: 5px;
  outline: none;
}
#search button {
  padding: 5px;
  width: 120px;
  outline: none;
}
